*~
*#
build/
*.o
*.lo
*.la
.*
*.log
*.trs
test_*
test-driver
childproc
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
confdefs.h
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
compress
dirlist
genpng
lookup
stdio
